{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Trendalyser{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><center>Welcome to Trendalyser</center></h1>
</div>
<div class="container text-center">
    <p>
        Here we will have some pretty images, graphs and some text about how good
        and useful this application is.
    </p>
    <p>
        And maybe a signin/signup form.
    </p>
    <p>
        And of course some endorsements from users and pretty logos for any
        big companies that use the application.
    </p>
</div>
{% endblock %}
