{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Trendalyser{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-3 col-sm-offset-5">
            {{ form.hidden_tag() }}
            {{ wtf.quick_form(form) }}
    </div>

    <div class="col-md-3 col-sm-offset-5">
        <p>
            Currently monitored keywords:
            <ul class="list-group">
                {% for word in wordlist %}
                <li class="list-group-item">
                    <input type="checkbox" class="checkbox pull-right" value="{{ word.id }}"></button>
                    {{ word.keyword }}
                </li>
                {% endfor %}
                <br>
                <button type="button" class="btn btn-danger pull-right">Delete</button>
            </ul>

        </p>
    </div>
</div>
{% endblock %}
