{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Trendalyser{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
            {{ form.hidden_tag() }}
            {{ wtf.quick_form(form) }}
    </div>

    <div class="col-md-6 col-md-offset-3">
        <p>
            Currently monitored keywords:
            <ul class="list-group">
                {% for word in wordlist %}
                <li class="list-group-item">
                    <span class="pull-right"><input type="checkbox" value="{{ word.id }}"></button></span>
                    {{ word.keyword }}
                </li>
                {% endfor %}
                <br>
                <button type="button" class="btn btn-danger pull-right">Delete</button>
            </ul>

        </p>
    </div>
</div>
{% endblock %}
